

/*body table.dataTable {*/
/*    border-spacing: 0;*/
/*    width: 100% !important;*/
/*}*/

table.dataTable tbody td {
    vertical-align: middle;
}
.content-vcenter{
    justify-content: center;
    min-height: 100vh !important;
    flex-direction: column;
    display: flex;
}

.invalid-select{
    border: 1px solid red !important;
}

.bg-image1 {
    background: url(../../assets/images/backgrounds/bg-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.bg-image2 {
    background: url(../../assets/images/backgrounds/bg-2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.text-center.mb-1 >img{
    max-width: 130px;
}

.btn-primary{
    background:#294a9c ;
}
.btn-primary:hover{
    background:#2552c1 ;
}

.capital{text-transform: capitalize;}

/*this is for large screens*/
.content-body{
    max-width: 1600px;
    margin: 0 auto;
}
